@media(max-width:768px){

.nav-links{
display:none;
}

.nav-links.active{
display:flex;
flex-direction:column;
}

.service-grid{
grid-template-columns:1fr;
}

.portfolio-grid{
grid-template-columns:1fr;
}

}